python-dotenv==0.20.0
osu.py==4.0.2
websockets==11.0.3
pytz==2022.1
rosu-pp-py==3.1.0
git+https://github.com/Sheppsu/beatmap_reader@984975b598f1275e8bf0b265d1eb638d4bd3a36f#egg=beatmap_reader
psycopg[binary]==3.1.19
